$main-color: #881616;
$font-color: #333;
$table-color: #fff;
$table-border-color: #aaa;
$table-body-color: #eee;
$row-even-color: white;
$hover-main-color: #5e1010;
$hover-edit-color: #616060;
$alert-color: rgb(235, 12, 12);
$save-color: green;
$edit-color: gray;
